@model IEnumerable<Web.Models.EntryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Entry</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (TempData["message"] != null)
{
    <div class="text-info">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            Filter results below.
        </div>
        <div class="form-group">
            <input type="text" placeholder="Text filter..." id="searchFilter" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Category</label>
            @Html.DropDownList(
                "categoryFilterId",
                (List<SelectListItem>) ViewData["Category_SelectList"],
                "-- Optional --",
                new {@class = "form-control categoryFilterId", @onchange = "Filter();"})
        </div>
        <div class="form-group">
            <label class="control-label">Sub Category</label>
            @Html.DropDownList(
                "subCategoryFilterId",
                (List<SelectListItem>) ViewData["SubCategory_SelectList"],
                "-- Optional --",
                new {@class = "form-control subCategoryFilterId", @onchange = "Filter();"})
        </div>
    </div>
</div>

<div id="divResults">
    <partial name="~/Views/Entry/_Table.cshtml" model="Model" />
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#searchFilter").change(function() {
            Filter();
        });
    });

    function Filter() {
        var searchFilter = $("#searchFilter").val();
        var categoryFilterId = $(".categoryFilterId option:selected").val();
        var subCategoryFilterId = $(".subCategoryFilterId option:selected").val();

        console.log("searchFilter=" + searchFilter);
        console.log("categoryFilterId=" + categoryFilterId);

        var url = "@Url.Action("Filter")" + "?searchFilter=" + searchFilter + "&categoryFilterId=" + categoryFilterId + "&subCategoryFilterId=" + subCategoryFilterId;
        $('#divResults').load(url);
    }
</script>